<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 从 Spring Environment 中读取 LOG_HOME 变量，若没有配置则回退到默认的路径 -->
    <springProperty scope="context" name="LOG_HOME" source="logging.file.path" defaultValue="${user.home}/.pap4j-boot3/.pap4j-boot3-example-proguard/logs"/>

    <!-- 控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 文件滚动 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 异步日志包装器 -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 异步队列大小 -->
        <queueSize>512</queueSize>
        <!-- 当队列剩余容量少于此比例时丢弃较低级别的日志（0表示不丢弃） -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 队列满时是否阻塞（true为不阻塞，满时直接丢弃，以保证最高性能） -->
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE"/>
    </appender>

    <!-- 默认日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>

    <!-- 你的包可以单独调 -->
    <logger name="cn.net.pap.example" level="INFO"/>
</configuration>
